<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>权限管理-后台管理-ck RBAC权限管理</title>
        <!--公共头文件-->
        <include file="Public:head" />
    </head>
    <body>
        <div class="wrap">
            <!--顶部导航菜单-->
	        <div id="Top">
                <include file="Public:wrap_top" />
	        </div>
			<!--Tags标签-->
            <div id="Tags">
				<include file="Public:wrap_tags" />
                    <div class="nav">
                        <font id="today"></font>您的位置：权限管理 > 添加管理员
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="mainBody">
                <!--子菜单列表-->
	            <div id="Left">
                    <include file="Public:main_left" />
	            </div>
				<!--content内容主体-->
                <div id="Right">
                    <div class="Item hr">
                        <span class="fr">数据库中共有{$tables}张表，共计{$total}</span>
                        <div class="current">数据库表结构列表</div>
                    </div>
                    <form action="__URL__/backup" method="post">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                            <thead>
                                <tr>
                                    <td width="90">
										<label><input name="" class="chooseAll" type="checkbox"/> 全选</label> 
										<label><input name="" class="unsetAll" type="checkbox"/> 反选</label>
									</td>
                                    <td>表名</td>
                                    <td>表用途</td>
                                    <td>记录行数</td>
                                    <td>引擎类型</td>
                                    <td>字符集</td>
                                    <td>表大小</td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach ($list as $key => $value): ?>
                                <tr align="center">
                                    <td><input type="checkbox" class="checkbox" name="table[]" value="{$value.name}"/></td>
                                    <td align="left">{$value.name}</td>
                                    <td>{$value.comment}</td>
                                    <td>{$value.rows}</td>
                                    <td>{$value.engine}</td>
                                    <td>{$value.collation}</td>
                                    <td>{$value.size}</td>
                                </tr>
                                <?php endforeach ?>
                            </tbody>
                            <tfoot align="center">
                                <tr>
                                    <!--<td width="90"></td>
                                    <td>表名</td>
                                    <td>表用途</td>
                                    <td>记录行数</td>
                                    <td>引擎类型</td>
                                    <td>字符集</td>
                                    <td>总计：{$total}</td>-->
									<td width="90"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                    <div class="commonBtnArea" >
                        <button class="btn submit">备份所选</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!--尾部js css-->
	    <include file="Public:footer" />
        <script type="text/javascript">
            $(function(){
                clickCheckbox();
                $(".submit").click(function(){
                    if($("tbody input[type='checkbox']:checked").size()==0){
                        popup.alert("请先选择你要备份的数据库表吧");
                        return false;
                    }
                    if($(this).attr("disabledSubmit")){
                        popup.alert("已提交，系统在处理中...");
                    }else{
						var data = '';
                        $(this).attr("disabledSubmit",true).html("提交处理中...");
						$(".checkbox:checked").each(function(i,item){
							if(i==0){
								data = $(this).val();
							}else{
								data =data + "," + $(this).val();
							}
						});

						$.ajax({
							type:"POST",
							data:{"data":data},
							url:"__URL__/backup",
							dataType:"json",
							success:function(res){
								if(res.status==1){
									popup.alert(res.info);
									setTimeout(function(){
										popup.close("asyncbox_alert");
									    window.location.href = res.url;
									},2000);
									
									if(res.url&&res.url!=''){
										setTimeout(function(){
											top.window.location.href=res.url;
										},2000);
									}
								}
								
							}
						});

                      //popup.alert("系统处理中，如果数据库中数据较多可能需要较长时间，请稍候....");

                    }
                });
            });
        </script>
    </body>
</html>
