<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>权限管理-后台管理-ck RBAC权限管理</title>
        <!--公共头文件-->
        <include file="Public:head" />
    </head>
    <body>
        <div class="wrap">
            <!--顶部导航菜单-->
	        <div id="Top">
                <include file="Public:wrap_top" />
	        </div>
			<!--Tags标签-->
            <div id="Tags">
				<include file="Public:wrap_tags" />
                    <div class="nav">
                        <font id="today"></font>您的位置：数据管理 > 数据压缩包管理
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="mainBody">
                <!--子菜单列表-->
	            <div id="Left">
                    <include file="Public:main_left" />
	            </div>
				<!--content内容主体-->
                <div id="Right">
                    <div class="Item hr">
                        <span class="fr">共有{$files}个压缩包文件，共计{$total}</span>
                        <div class="current">数据库压缩包文件列表</div>
                    </div>
                    <form>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                            <thead>
                                <tr>
                                    <td width="90"><label><input name="" class="chooseAll" type="checkbox"/> 全选</label> <label><input name="" class="unsetAll" type="checkbox"/> 反选</label></td>
                                    <td>压缩包名称</td>
                                    <td>打包时间</td>
                                    <td>文件大小</td>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="list" id="zip">
                                    <tr align="center">
                                        <td>
											<input type="checkbox" class="checkbox" name="zipFiles[]" value="{$zip.file}"/>
										</td>
                                        <td align="left"><a href="{:U('SysData/downFile',array('file'=>$zip['file'],'type'=>'zip'))}" target="_blank">{$zip.file}</a></td>
                                        <td>{$zip.time}</td>
                                        <td>{$zip.size}</td>
                                    </tr>
                                </volist>
                            </tbody>
                            <tfoot align="center">
                                <tr>
                                    <td width="90">
										<label><input name="" class="chooseAll" type="checkbox"/> 全选</label> 
										<label><input name="" class="unsetAll" type="checkbox"/> 反选</label>
									</td>
                                    <td>压缩包名称</td>
                                    <td>备份时间</td>
                                    <td>总计：{$total}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                    <div class="commonBtnArea" >
                        <span class="fr" id="opStatus" style="width:450px; display: none; margin: -8px; line-height: 16px;"></span>
                        <button class="btn delZipFiles">删除所选</button>
						<button class="btn unzipSelect">解压缩所选</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!--尾部js css-->
	    <include file="Public:footer" />
        <script type="text/javascript">
            $(function(){
                //全新反选
                clickCheckbox();
				
                //解压缩所选列表
                $(".unzipSelect").click(function(){
                    if($("tbody input[type='checkbox']:checked").size()==0){
                        popup.alert("请先选择你要解压缩的zip文件吧");
                        return false;
                    }
                    if($(this).attr("disabledSubmit")){
                        popup.alert("已提交，系统在处理中...");

                    }
					
					$(this).attr("disabledSubmit",true).html("提交处理中...");
					var data = '';
					$(".checkbox:checked").each(function(i,item){
						if(i==0){
							data = $(this).val();
						}else{
							data =data + "," + $(this).val();
						}
					});

					$.ajax({
						type:"POST",
						data:{"data":data},
						url:"__URL__/unzipSqlfile",
						dataType:"json",
						success:function(res){
							if(res.status=='success'){
								popup.alert(res.info);	
							}
							setTimeout(function(){location.href = "__URL__/zipList"},2000);
						}
					});
                });
				

                //删除备份文件
                $(".delZipFiles").click(function(){
                    if($("tbody input[type='checkbox']:checked").size()==0){
                        popup.alert("请先选择你要删除的zip文件吧");
                        return false;
                    }
                    if($(this).attr("disabledSubmit")){
                        popup.alert("已提交，系统在处理中...");

                    }
                    popup.confirm('你确定要删除备份文件吗？','温馨提示',function(action){
                        if(action == 'ok'){
                            $(this).attr("disabledSubmit",true).html("提交处理中...");
                            var data = '';
    						$(".checkbox:checked").each(function(i,item){
    							if(i==0){
    								data = $(this).val();
    							}else{
    								data =data + "," + $(this).val();
    							}
    						});

                            $.ajax({
    							type:"POST",
    							data:{"data":data},
    							url:"__URL__/delZipFiles",
    							dataType:"json",
    							success:function(res){
    								if(res.status=='success'){
    									popup.alert(res.info);
    									setTimeout(function(){location.href = "__URL__/zipList"},2000);
    								}else{
                                        popup.alert(res.info);
    									setTimeout(function(){location.href = "__URL__/zipList"},2000);
                                    }
    							}
    						});
                        }
                    });
                    return false;
                });
            });
        </script>
    </body>
</html>
