<css href="__Admin_CSS__/base.css"/>
<css href="__Admin_CSS__/layout.css"/>
<css href="__STATIC__/asyncbox/skins/default.css"/>
<js href="__STATIC__/jquery-1.9.0.min.js"/>
<js href="__STATIC__/jquery.lazyload.js"/>
<js href="__Admin_JS__/functions.js"/>
<js href="__Admin_JS__/base.js"/>
<js href="__STATIC__/jquery.form.js"/>
<js href="__STATIC__/asyncbox/asyncbox.js"/>
<style media="screen">
    .logo img{margin: 5px 0 0 10px;vertical-align:bottom;}
    #Tags .userPhoto img{height: 45px;margin:8px 0 0 9px;width: 45px;}
</style>
