<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <xmp></xmp>
    <pre style='color:#55cc66;background:#001800;'></pre>
    <pre style='color:#d1d1d1;background:#000000;'></pre>
    <pre style='color:#000020;background:#f6f8ff;'></pre>
    <pre style='color:#000000;background:#f1f0f0;'></pre>
    1、mysql 面向过程：
    <pre style='color:#000020;background:#f1f0f0;'>
    <span style="color:red;">mysql链接：</span>
    //1.连接
    $link=mysql_connect('localhost','root','root') or die('Connect Error:'.mysql_connect_errno().":".mysql_connect_error());
    //2.链接数据库
    mysql_select_db('test', $link);
    //3.设置编码方式
    mysql_set_charset($link,'UTF8');

    //根据条件 (id) 查询
    $sql = 'select * from `'.$this->_table.'` where `id` = \''.mysql_real_escape_string($id).'\'';
    $res = mysql->query($sql);
    //根据条件 (id) 删除
    $ssql2 = 'delete from `'.$this->_table.'` where `id` = \''.mysql_real_escape_string($id).'\'';
    $res2 = mysql->query($sql2);


    //4.释放结果集
    mysql_free_result($result);
    //5.关闭连接
    mysql_close($link);
    ============================================================================
    //执行SQL查询
    $sql="SELECT id,username,password,age FROM user";
    $result=mysql_query($link,$sql);
    if($result && mysql_num_rows($result)>0){
        while($row=mysql_fetch_array($result, MYSQLI_ASSOC)){
            //print_r($row);
            $rows[]=$row;
        }
    }
    //print_r($rows);
    //释放结果集
    mysql_free_result($result);
    mysql_close($link);
</pre>
</body>
</html>
