<block name="footer">
	<script type="text/javascript">
	    mini.parse();
	    function onBeforeExpand(e) {
	        var tree = e.sender;
	        var nowNode = e.node;
	        var level = tree.getLevel(nowNode);

	        var root = tree.getRootNode();        
	        tree.cascadeChild(root, function (node) {
	            if (tree.isExpandedNode(node)) {
	                var level2 = tree.getLevel(node);
	                if (node != nowNode && !tree.isAncestor(node, nowNode) && level == level2) {
	                    tree.collapseNode(node, true);
	                }
	            }
	        });
	    }
	</script>
	<script src="__STATIC__/miniui/scripts/tongji.js" type="text/javascript"></script>
</block>