<block name="header">
        <title>冷暖自知一抹茶ck</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="thinkphp,CodeIgniter,jquery,mysql,mysqli,pdo" />
        <meta name="description" content="本站是关于作者自己平常的知识总结,不做商用" />
        <script src="__STATIC__/miniui/scripts/jquery-1.6.2.min.js" type="text/javascript"></script>
        <script src="__STATIC__/miniui/scripts/miniui/miniui.js" type="text/javascript"></script>
        <link href="__STATIC__/miniui/scripts/miniui/themes/default/miniui.css" rel="stylesheet" type="text/css" />
        <style type="text/css">
            html, html body{
                padding:0;border:0;margin:0; width:100%;height:90%;
                font-family:Verdana; font-size:12px; line-height:22px;
            }
            .header{ background:url("__STATIC__/miniui/docs/api/images/header.gif") repeat-x; }
            .header div{ font-family:'Trebuchet MS',Arial,sans-serif; font-size:25px;line-height:60px;padding-left:10px;font-weight:bold;color:#333; }
            body .header .topNav{ position:absolute;right:8px;top:10px; font-size:12px; line-height:25px; }
            .header .topNav a{ text-decoration:none; color:#222; font-weight:normal; font-size:12px; line-height:25px; margin-left:3px; margin-right:3px; }
            .header .topNav a:hover{ text-decoration:underline; color:Blue; }
            .mini-layout-region-south img{ vertical-align:top; }
        </style>
        <script src="__STATIC__/miniui/demo/core.js" type="text/javascript"></script>
</block>
