<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <xmp></xmp>
    <pre style='color:#55cc66;background:#001800;'></pre>
    <pre style='color:#d1d1d1;background:#000000;'></pre>
    <pre style='color:#000020;background:#f6f8ff;'></pre>
    <pre style='color:#000000;background:#f1f0f0;'></pre>

    1、字符串
    <xmp>
    strpos(string,find) 	函数查找字符串在另一字符串中第一次出现的位置(区分大小写,返回字符串在另一字符串中第一次出现的位置，如果没有找到字符串则返回 FALSE)
    	stripos()  			查找字符串在另一字符串中第一次出现的位置（不区分大小写）
	strripos() 			查找字符串在另一字符串中最后一次出现的位置（不区分大小写）
	strrpos() 			查找字符串在另一字符串中最后一次出现的位置（区分大小写）

    str_replace(find,replace,string,count)  以其他字符替换字符串中的一些字符（区分大小写, count 可选-------对替换数进行计数的变量）
        str_ireplace()         函数执行不区分大小写的搜索
	
	str_repeat() 函数把字符串重复指定的次数。
		str_repeat("Shanghai",5);	//把字符串 "Shanghai " 重复 5 次

    </xmp>

    2、数组
    <xmp>
    array_keys(array,[value,strict])    返回包含数组中所有键名的一个新数组  
    array_map(myfunction,array1)        将用户自定义函数作用到数组中的每个值上，并返回用户自定义函数作用后的带有新值的数组
    array_walk(array,myfunction)        对数组中的每个元素应用用户自定义函数
        array_walk 可以没有返回值；array_map要有返回值
    </xmp>
</pre>
</body>
</html>
