<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <xmp></xmp>
    <pre style='color:#55cc66;background:#001800;'></pre>
    <pre style='color:#d1d1d1;background:#000000;'></pre>
    <pre style='color:#000020;background:#f6f8ff;'></pre>
    <pre style='color:#000000;background:#f1f0f0;'></pre>

    1、字符串
    <pre>
trim($str,"Hed!")			移除字符串两侧的字符（"Hello" 中的 "He" 以及 "World" 中的 "d!"）
explode(separator,string)		把字符串打散为数组
substr(string,start,length)		返回字符串的一部分
strlen(string)				返回字符串的长度
strrev(string)				反转字符串
strip_tags(string,allow)		返回被剥离的字符串。（去除html和php标记，可以选择保留想要的标签）

strpos(string,find) 			查找字符串首次出现的位置(区分大小写,函数查找字符串在另一字符串中第一次出现的位置如果没有找到字符串则返回 FALSE)
	stripos()  			查找字符串在另一字符串中第一次出现的位置（不区分大小写）
	strripos() 			查找字符串在另一字符串中最后一次出现的位置（不区分大小写）
	strrpos() 			查找字符串在另一字符串中最后一次出现的位置（区分大小写）
str_replace(find,replace,string,count)  以其他字符替换字符串中的一些字符（区分大小写, count 可选-------对替换数进行计数的变量）
	str_ireplace()         		函数执行不区分大小写的搜索
str_repeat() 				函数把字符串重复指定的次数。
	str_repeat("Shanghai",5);	//把字符串 "Shanghai " 重复 5 次
ucfirst(string)         		把字符串中的首字符转换为大写
	lcfirst(string)     		把字符串中的首字符转换为小写
	ucwords(string)     		把每个单词的首字符转换为大写
	strtoupper(string)  		把字符串转换为大写
	strtolower(string)  		把字符串转换为小写

    </pre>

    2、数组
    <pre>
count()和 sizeof()                  统计数组下标的个数
in_array(search,array)		    判断数组中是否有某个元素
implode(separator,array)		返回由数组元素组合成的字符串。
json_encode(array)				将数组转化成json
sort()							函数用于对数组单元从低到高进行排序。
	rsort() 					函数用于对数组单元从高到低进行排序。
	ksort() 						函数用于对数组单元按照键名从低到高进行排序。
	krsort() 						函数用于对数组单元按照键名从高到低进行排序。
	asort() 						函数用于对数组单元从低到高进行排序并保持索引关系。
	arsort() 						函数用于对数组单元从高到低进行排序并保持索引关系。
array_merge(array1,array2,array3...)把一个或多个数组合并为一个数组(有相同的键名，则最后的元素会覆盖其他元素)
	array_merge_recursive() 		不会进行键名覆盖，而是将多个相同键名的值递归组成一个数组
array_key_exists(key,array)			检查某个数组中是否存在指定的键名
array_unique()						函数移除数组中的重复的值，并返回结果数组(当几个数组元素的值相等时，只保留第一个元素，其他的元素被删除;只能对一位数组起作用)
array_shift(array)                  删除数组中的第一个元素，并返回被删除元素的值
array_push(array,value1,value2...)  向第一个参数的数组尾部添加一个或多个元素（入栈），然后返回新数组的长度
array_keys(array,[value,strict])    返回包含数组中所有键名的一个新数组
array_map(myfunction,array1)        将用户自定义函数作用到数组中的每个值上，并返回用户自定义函数作用后的带有新值的数组
array_walk(array,myfunction)        对数组中的每个元素应用用户自定义函数
	array_walk 可以没有返回值；array_map要有返回值

    </pre>

    3、加密
    <pre>
URL编码加密：urldecode可以正确解密rawurlencode加密的空格; rawurldecode不能正确解密urlencode加密的空格
urlencode(string $str);         	//返回字符串,把空格编码为 +
	urldecode(string $str);     //$str:要解码的URL,返回字符串
rawurlencode(string $str);      	//返回字符串,把空格编码为 %20
	rawurldecode(string $str);
    </pre>

    4、两位小数格式化
    <pre>
number_format(3.0145,2);//3.01
sprintf("%.2f", 3.0145); //3.01
    </pre>

    5、文件处理
    <pre>
file_exists(path)   //file_exists() 函数检查文件或目录是否存在。返回true | false
    </pre>

    6、其他
    <pre>
func_num_args() 这个函数返回的是当前函数的参数数量 返回的是数字
func_get_arg()函数返回的是指定位置的参数的值
func_get_args() — 返回一个包含函数参数列表的数组

get_defined_constants([true]);//获得当前系统给我们提供的常量（系统和自定义的）【true参数会把常量进行自动分组显示】

ENT_COMPAT - 默认。仅解码双引号。| ENT_QUOTES - 解码双引号和单引号。 | ENT_NOQUOTES - 不解码任何引号。
PHP htmlspecialchars() 把 & ' " < 和 > 转换成HTML 实体
PHP htmlspecialchars_decode() 把 & ' " < 和 > HTML 实体反转成字符
PHP htmlentities() 把HTML标签字符转换为 HTML 实体
PHP html_entity_decode() 将所有HTML 实体转成字符原型

    </pre>
</pre>
</body>
</html>
