<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <xmp></xmp>
    <pre style='color:#55cc66;background:#001800;'></pre>
    <pre style='color:#d1d1d1;background:#000000;'></pre>
    <pre style='color:#000020;background:#f6f8ff;'></pre>
    <pre style='color:#000000;background:#f1f0f0;'></pre>

    1、字符串
    <xmp>
    strpos(string,find) 	函数查找字符串在另一字符串中第一次出现的位置(区分大小写,返回字符串在另一字符串中第一次出现的位置，如果没有找到字符串则返回 FALSE)
    	stripos()  			查找字符串在另一字符串中第一次出现的位置（不区分大小写）
	strripos() 			查找字符串在另一字符串中最后一次出现的位置（不区分大小写）
	strrpos() 			查找字符串在另一字符串中最后一次出现的位置（区分大小写）

    </xmp>

    2、数组
</pre>
</body>
</html>
