<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自定义函数库</title>
</head>
<body>

    <pre>
    1、
    // <span style="color:red">不区分大小写的in_array实现</span>
    function in_array_case($value,$array){
        return in_array(strtolower($value),array_map('strtolower',$array));
    }


    2、
    /**
     * <span style="color:red">curl post方式模拟提交数据</span>
     * @param string $url      接口URL
     * @param array $params    post数组
     * @return mixed
     */
    private function curl_post($url,$params){
		if (is_array($params)) { 
			$params = http_build_query($params); 
		} 
		$ch = curl_init();
        curl_setopt($ch, CURLOPT_URL, $url );
        curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
		//curl_setopt($ch, CURLOPT_TIMEOUT, 30); 		//设置cURL允许执行的最长秒数
        curl_setopt($ch,CURLOPT_POST,1); 				//post数据
        curl_setopt($ch,CURLOPT_POSTFIELDS,$params);	//post变量
        $output = curl_exec($ch);
        curl_close($ch);

        return $output;
    }
    $request = http_build_query($data);
    $output = $this->curl_post($this->RegisterCertificate ,$request);

    /**
     * <span style="color:red">curl get方式模拟提交数据</span>
     * @param string $url      接口URL(get参数形式的完整URL )
     * @return mixed
     */
    private function curl_get($url){
        $ch = curl_init();
        curl_setopt($ch,CURLOPT_URL,$url);
        curl_setopt($ch,CURLOPT_RETURNTRANSFER,1);
		//curl_setopt($ch, CURLOPT_TIMEOUT, 30); //设置cURL允许执行的最长秒数
        curl_setopt($ch,CURLOPT_HEADER,0);
        $output=curl_exec($ch);
        curl_close($ch);
    }

    3、
    /**
     * 1)、<span style="color:red">格式化输出</span>
     * 2)、<span style="color:red">格式化输出打印列表</span>
     *     var_dump()  页面显示不完是使用 print_r();
     */
    <xmp>
    function dump($data){
        echo "<pre>";
        var_dump($data);
        echo "</pre>";
    }

    function dump2(){
        echo '<pre>';
    	print_r(get_defined_constants());
    	echo '</pre>';
    }
    </xmp>


    4、
    /**
     * <span style="color:red">log 记录运行日志</span>
     * @param string $msg  记录的日志消息
    */
    function writeLog($msg){
        $time       = time();
        $msg        = date("Y-m-d H:i:s",$time)." : ".$msg."\r\n";
        $msgPath    = './'.date("Y-m-d",$time).'.txt';
        file_put_contents($msgPath,$msg,FILE_APPEND);
    }
	
    5、
    /**
    *<span style="color:red">随机颜色生成器</span>
    */
    function randomColor() { 
        $str = '#'; 
        for($i = 0 ; $i < 6 ; $i++) { 
            $randNum = rand(0 , 15); 
            switch ($randNum) { 
                case 10: $randNum = 'A'; break; 
                case 11: $randNum = 'B'; break; 
                case 12: $randNum = 'C'; break; 
                case 13: $randNum = 'D'; break; 
                case 14: $randNum = 'E'; break; 
                case 15: $randNum = 'F'; break; 
            } 
            $str .= $randNum; 
        } 
        return $str; 
    } 
    $color = randomColor();
	
    6、
    /**
    * 从网络下载文件
    */
    function download_file(){
        set_time_limit(0); 
        // Supports all file types 
        // URL Here: 
        $url = 'http://somsite.com/some_video.flv'; 
        $pi = pathinfo($url); 
        $ext = $pi['extension']; 
        $name = $pi['filename']; 
         
        // create a new cURL resource 
        $ch = curl_init(); 
         
        // set URL and other appropriate options 
        curl_setopt($ch, CURLOPT_URL, $url); 
        curl_setopt($ch, CURLOPT_HEADER, false); 
        curl_setopt($ch, CURLOPT_BINARYTRANSFER, true); 
        curl_setopt($ch, CURLOPT_AUTOREFERER, true); 
        curl_setopt($ch, CURLOPT_FOLLOWLOCATION, true); 
        curl_setopt($ch, CURLOPT_RETURNTRANSFER, true); 
         
        // grab URL and pass it to the browser 
        $opt = curl_exec($ch); 
         
        // close cURL resource, and free up system resources 
        curl_close($ch); 
         
        $saveFile = $name.'.'.$ext; 
        if(preg_match("/[^0-9a-z._-]/i", $saveFile)) 
            $saveFile = md5(microtime(true)).'.'.$ext; 
         
        $handle = fopen($saveFile, 'wb'); 
        fwrite($handle, $opt); 
        fclose($handle);
    }
	
    7、
    /**
    * 强制下载文件
    */
	function forced_download(){
        $filename = $_GET['file']; //Get the fileid from the URL 
        // Query the file ID 
        $query = sprintf("SELECT * FROM tableName WHERE id = '%s'",mysql_real_escape_string($filename)); 
        $sql = mysql_query($query); 
        if(mysql_num_rows($sql) > 0){ 
            $row = mysql_fetch_array($sql); 
            // Set some headers 
            header("Pragma: public"); 
            header("Expires: 0"); 
            header("Cache-Control: must-revalidate, post-check=0, pre-check=0"); 
            header("Content-Type: application/force-download"); 
            header("Content-Type: application/octet-stream"); 
            header("Content-Type: application/download"); 
            header("Content-Disposition: attachment; filename=".basename($row['FileName']).";"); 
            header("Content-Transfer-Encoding: binary"); 
            header("Content-Length: ".filesize($row['FileName'])); 
         
            @readfile($row['FileName']); 
            exit(0); 
        }else{ 
            header("Location: /"); 
            exit; 
        }
    }
	
    8、
    /**
    * 裁剪图片
    */
	function cat_img(){
        $filename= "test.jpg";
        list($w, $h, $type, $attr) = getimagesize($filename);
        $src_im = imagecreatefromjpeg($filename);
         
        $src_x = '0';   // begin x
        $src_y = '0';   // begin y
        $src_w = '100'; // width
        $src_h = '100'; // height
        $dst_x = '0';   // destination x
        $dst_y = '0';   // destination y
         
        $dst_im = imagecreatetruecolor($src_w, $src_h);
        $white = imagecolorallocate($dst_im, 255, 255, 255);
        imagefill($dst_im, 0, 0, $white);
         
        imagecopy($dst_im, $src_im, $dst_x, $dst_y, $src_x, $src_y, $src_w, $src_h);
         
        header("Content-type: image/png");
        imagepng($dst_im);
        imagedestroy($dst_im);
    }

    9、
    /**
    * 检查网站是否宕机
    */
    function Visit($url){
           $agent = "Mozilla/4.0 (compatible; MSIE 5.01; Windows NT 5.0)";$ch=curl_init();
           curl_setopt ($ch, CURLOPT_URL,$url );
           curl_setopt($ch, CURLOPT_USERAGENT, $agent);
           curl_setopt ($ch, CURLOPT_RETURNTRANSFER, 1);
           curl_setopt ($ch,CURLOPT_VERBOSE,false);
           curl_setopt($ch, CURLOPT_TIMEOUT, 5);
           curl_setopt($ch,CURLOPT_SSL_VERIFYPEER, FALSE);
           curl_setopt($ch,CURLOPT_SSLVERSION,3);
           curl_setopt($ch,CURLOPT_SSL_VERIFYHOST, FALSE);
           $page=curl_exec($ch);
           //echo curl_error($ch);
           $httpcode = curl_getinfo($ch, CURLINFO_HTTP_CODE);
           curl_close($ch);
           if($httpcode>=200 && $httpcode<300) return true;
           else return false;
    }
    if (Visit("http://www.google.com"))
           echo "Website OK"."n";
    else
           echo "Website DOWN";
		   
		   
	10、
	/**
     * 导出数据到excel表格(浏览器弹出选择要保存的路径)
     * @param array $data_list        数据
     * @param array $downloadexcel_title     title
     * @param string $file_name        文件名
     */
    public function download_excel($data_list,$downloadexcel_title,$file_name){
        header('Content-type:text/html;charset=utf-8');//php代码里面设置编码
        import("Org.Util.PHPExcel");
        import("Org.Util.PHPExcel.IOFactory");

        $objPHPExcel = new \PHPExcel;
        //$sheetExcel = $objPHPExcel->getActiveSheet();//获得当前活动sheet的操作对象

        //var_dump($data_list);
        foreach($downloadexcel_title as $k=>$y){
				$fields[]=$k;
				$title_new[]=$y;
		}

		//var_dump($fields);
		//var_dump($title_new);exit;
		$col = 0;
        foreach ($title_new as $title_t) {
            $objPHPExcel->getActiveSheet()->setCellValueByColumnAndRow($col, 1, $title_t); //excel第一行
            $col++;
        }

        $row = 2;
        foreach ($data_list as $data_k) {
            $col = 0;
            foreach ($fields as $field) {
                $objPHPExcel->getActiveSheet()->setCellValueByColumnAndRow($col, $row, $data_k[$field]);
                $col++;
            }
            $row++;
        }

        ob_end_clean();
        $objWriter = \PHPExcel_IOFactory::createWriter($objPHPExcel, 'Excel5');
        header('Content-Type: application/vnd.ms-excel;charset=utf-8;');
        $ua = $_SERVER["HTTP_USER_AGENT"];
        $encoded_filename = urlencode($file_name);
        $encoded_filename = str_replace("+", "%20", $encoded_filename);
        header('Content-Type: application/octet-stream');
        if (preg_match("/MSIE/", $ua)) {
            header('Content-Disposition: attachment; filename="' . $encoded_filename . date('Ymd') . '.xls"');
        } else if (preg_match("/Firefox/", $ua)) {
            header('Content-Disposition: attachment; filename*="utf8\'\'' . $file_name . date('Ymd') . '.xls"');
        } else {
            header('Content-Disposition: attachment; filename="' . $file_name . date('Ymd') . '.xls"');
        }
        header('Cache-Control: max-age=0');
        $objWriter->save('php://output');
        exit;

    }
	$excel_header = array('month'=>'时间', 'place'=>'地点');
	$excel_name = "话费月帐单(" . $startTime . '----' . $endTime . ")";
	$this->download_excel($list,$excel_header,$excel_name);
	
	
	
	
    </pre>
</body>
</html>
