<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自定义函数库</title>
</head>
<body>

    <pre>
    1、
    // <span style="color:red">不区分大小写的in_array实现</span>
    function in_array_case($value,$array){
        return in_array(strtolower($value),array_map('strtolower',$array));
    }


    2、
    /**
     * <span style="color:red">curl post方式模拟提交数据</span>
     * @param string $url      接口URL
     * @param array $params    post数组
     * @return mixed
     */
    private function curl_post($url,$params){
        $ch = curl_init();
        curl_setopt($ch, CURLOPT_URL, $url );
        curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
        curl_setopt($ch,CURLOPT_POST,1); //post数据
        curl_setopt($ch,CURLOPT_POSTFIELDS,$params);//post变量
        $output = curl_exec($ch);
        curl_close($ch);
        
        return $output; 
    }
    $request = http_build_query($data);
    $output = $this->curl_post($this->RegisterCertificate ,$request);
    
    /**
     * <span style="color:red">curl get方式模拟提交数据</span>
     * @param string $url      接口URL(get参数形式的完整URL )
     * @return mixed
     */
    private function curl_get($url){ 
        $ch = curl_init();
        curl_setopt($ch,CURLOPT_URL,$url);
        curl_setopt($ch,CURLOPT_RETURNTRANSFER,1);
        curl_setopt($ch,CURLOPT_HEADER,0);
        $output=curl_exec($ch);
        curl_close($ch);
    }

    3、
    /**
     * <span style="color:red">格式化输出</span>
     */
    <xmp>
    function dump($data){
        echo "<pre>";
        var_dump($data);
        echo "</pre>";
    }
    </xmp>

    4、
    /**
     * <span style="color:red">log 记录运行日志</span>
     * @param string $msg  记录的日志消息
    */
    function writeLog($msg){
        $time       = time();
        $msg        = date("Y-m-d H:i:s",$time)." : ".$msg."\r\n";
        $msgPath    = './'.date("Y-m-d",$time).'.txt';
        file_put_contents($msgPath,$msg,FILE_APPEND);
    }
    </pre>
</body>
</html>
