<!doctype html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>Document</title>
 </head>
 <body>
	<!-- <a href='__CONTROLLER__/index'>当前地址</a> -->
 	<a data_url="{:U('Index/index')}" href="">当前地址</a>
    <!-- <a href="{:U('Index/index')}"  target="top">当前地址</a> -->
 	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
 	<script>
 		$(function(){
 			$("a").click(function(){
 				var href = $(this).attr("data_url");
 				top.location.href=href;
 			})
 		})
 	</script>
 </body>
 </html>
