<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    1、控制器给前台传递变量:
    <pre style='color:#000000;background:#f1f0f0;'>
    控制器：
    $data['users'] = array();
    $this->load->view('setting/sdksetting/protest',$data);
    视图：
    用户信息:
        foreach循环遍历users变量
    </pre>
    2、系统常量、路径常量
    <pre style="color:#000000;background:#f1f0f0;">
    tp3.2.3视图页面直接访问：http://localhost/项目目录/Application(应用目录)/模块目录/View/Index/thinkphp/thinkphp_1.html
    </pre>
</body>
</html>
