<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <xmp></xmp>
    <pre style='color:#55cc66;background:#001800;'></pre>
    <pre style='color:#d1d1d1;background:#000000;'></pre>
    <pre style='color:#000020;background:#f6f8ff;'></pre>
    <pre style='color:#000000;background:#f1f0f0;'></pre>
    1、本地访问,base_url()跨域问题：
    <pre style='color:#55cc66;background:#001800;'>
        本地环境调试的时候，localhost访问的时候调用base_url()显示的是http://[::1],修改 CodeIgniter-3.0.6\system\core\Config.php即可
        旧版使用用的是$_SERVER['HTTP_HOST']
        新版用的是$_SERVER['SERVER_ADDR']
    </pre>
    2、获取配置文件内容
    <pre style='color:#55cc66;background:#001800;'>
    $this->config->load('general',TRUE);           //加载自定义配置
    $this->config->item('max_day', 'general');     //读取配置
    </pre>
	
	3、封装函数 
	<pre style='color:#55cc66;background:#001800;'>
	目录添加响应文件 ：application/helpers/function_helper.php
	//加载			  ：$this->load->helper('functions');	
	//调用			  :  dump();		
	</pre>
</body>
</html>
