<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" />
        <title>权限管理-后台管理-ck RBAC权限管理</title>
        <!--公共头文件-->
        <include file="Public:head" />
    </head>
    <body>
        <div class="wrap">
			<!--顶部导航菜单-->
	        <div id="Top">
                <include file="Public:wrap_top" />
	        </div>
            <!--Tags标签-->
            <div id="Tags">
				<include file="Public:wrap_tags" />
                    <div class="nav">
                        <font id="today"></font>您的位置：权限管理 > 添加编辑节点
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="mainBody">
				<!--子菜单列表-->
	            <div id="Left">
                    <include file="Public:main_left" />
	            </div>
				<!--content内容主体-->
                <div id="Right">
                    <div class="contentArea">
                        <div class="Item hr">
                            <div class="current">添加编辑节点</div></div>
                        <form action="__SELF__" method="post">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
                                <tr>
                                    <th width="120">名称：</th>
                                    <td>
                                        <input name="auth_ac" type="text" class="input" size="40" value="" />英文，为MODEL_NAME的时候首字母大写
                                    </td>
                                </tr>
                                <tr>
                                    <th>显示名：</th>
                                    <td>
                                        <input class="input" name="auth_name" type="text" size="40" value="" />中英文均可</td></tr>
                                <tr>
                                    <th>状态：</th>
                                    <td>
                                        <select name="is_display" style="width: 80px;">
                                            <option value="1">启用</option>
                                            <option value="0" selected>禁用</option>
                                        </select>如果禁用那么右侧操作可以显示,左侧菜单不显示</td>
                                </tr>
                                <tr>
                                    <th>类型：</th>
                                    <td>
                                        <select name="auth_level" style="min-width: 80px;">
                                            <option value="0" >模块</option>
                                            <option value="1" >操作</option>
                                            <option value="2" >具体操作</option>
                                        </select>模块(MODEL_NAME); 操作(ACTION_NAME);右侧具体操作(ACTION_NAME);若为右侧具体操作，则不显示
                                    </td>
                                </tr>
                                <tr>
                                    <th>父级节点：</th>
                                    <td>
                                        <select name="auth_pid" style="min-width: 80px;">
                                            <option value="0" level="-1">根节点(后台管理)</option>
                                            <volist name="group" id="vo">
                                                <option value="{$vo.auth_id}" level="{$vo.auth_level}" <?php if($auth_id_info['auth_id'] ==$vo['auth_id']) echo selected;?>>
                                                    <if condition="$vo['auth_level'] == 0 ">&nbsp;&nbsp;&nbsp;&nbsp;├ {$vo.auth_name}
                                                        <else /> &nbsp;&nbsp;&nbsp;&nbsp;│&nbsp;&nbsp;&nbsp;&nbsp;└ {$vo.auth_name}
                                                    </if>
                                                </option>
                                            </volist>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>显示排序：</th>
                                    <td>
                                        <input class="input" name="sort" type="text" size="40" value="" /></td>
                                </tr>
                            </table>
                        </form>
                        <div class="commonBtnArea">
                            <button class="btn submit">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
		<!--尾部js css-->
	    <include file="Public:footer" />
        <script type="text/javascript">$(function() {
                $(".submit").click(function() {
                    $("form").submit();
                });
            });
		</script>
    </body>

</html>
