<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>权限管理-后台管理-ck RBAC权限管理</title>
		<!--公共头文件-->
        <include file="Public:head" />
    </head>
    <body>
        <div class="wrap">
			<!--顶部导航菜单-->
            <div id="Top">
    			<include file="Public:wrap_top" />
			</div>
			<!--Tags标签-->
			<div id="Tags">
                <include file="Public:wrap_tags" />
                    <div class="nav">
                        <font id="today"></font>您的位置：权限管理 > 节点管理
                    </div>
                </div>
			</div>
			<div class="clear"></div>
            <div class="mainBody">
				<!--子菜单列表-->
                <div id="Left">
    				<include file="Public:main_left" />
    			</div>
				<!--content内容主体-->
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">节点管理</div>
                    </div>
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
					    <thead>
					        <tr>
					            <td>序号</td>
					            <td>节点结构
					                <b title="单击分类隐藏/显示该分类下在子类">[i]</b></td>
					            <td>节点ID</td>
					            <td>名称</td>
					            <td>显示名</td>
					            <td>排序名称</td>
					            <td>类型</td>
					            <td>状态</td>
					            <td width="150">操作</td></tr>
					    </thead>

                        <volist name="access_list" id="vo" key="k">
                            <tr align="center" id="{$vo.auth_id}" pid="{$vo.auth_pid}">
    					        <td>{$k}</td>
    					        <td align="left" class="tree" style="cursor: pointer;">
                                    <if condition="$vo['auth_level'] ==0 ">{$vo.auth_name}
                                        <else /> &nbsp;&nbsp;&nbsp;&nbsp;├ {$vo.auth_name}
                                    </if>
                                </td>
    					        <td>{$vo.auth_id}</td>
    					        <td>
                                    <if condition="$vo['auth_level'] ==0 ">{$vo.auth_c}
                                        <else /> {$vo.auth_a}
                                    </if>
    					        </td>
    					        <td>{$vo.auth_name}</td>
    					        <td edit="0" fd="sort">{$vo.sort}</td>
    					        <td>
                                    <if condition="$vo['auth_level'] ==0 "><span style="color:#00bfff;">模块(MODEL_NAME)</span>
                                    <else />操作(ACTION_NAME)
                                    </if>
                                </td>
    					        <td>启用</td>
    					        <td>[<a href="javascript:void(0);" class="opStatus" val="1">禁用</a>]
                                    [<a href="__MODULE__/Access/editNode?auth_id={$vo.auth_id}" class="edit">编辑</a>]
                                </td>
                            </tr>
                        </volist>
					    <!-- <tr align="center" id="2" pid="1">
					        <td>2</td>
					        <td align="left" class="tree" style="cursor: pointer;">&nbsp;&nbsp;&nbsp;&nbsp;├ 管理首页</td>
					        <td>2</td>
					        <td>Index</td>
					        <td>管理首页</td>
					        <td edit="0" fd="sort">1</td>
					        <td>模块(MODEL_NAME)</td>
					        <td>启用</td>
					        <td>[
					            <a href="javascript:void(0);" class="opStatus" val="1">禁用</a>] [
					            <a href="/Tprbac/index.php/conist/Access/editNode?id=2" class="edit">编辑</a>]</td></tr>-->
					</table>
                </div>
            </div>
        </div>
        <div class="clear"></div>
	<!--尾部js css-->
    <include file="Public:footer" />
    <script type="text/javascript">
        $(function(){
            //快捷启用禁用操作
            $(".opStatus").click(function(){
                var obj=$(this);
                var id=$(this).parents("tr").attr("id");
                var status=$(this).attr("val");
                $.getJSON("/Tprbac/index.php/conist/Access/opNodeStatus", { id:id, status:status }, function(json){
                    if(json.status==1){
                        popup.success(json.info);
                        $(obj).attr("val",json.data.status).html(status==1?"启用":"禁用").parents("td").prev().html(status==1?"禁用":"启用");
                    }else{
                        popup.alert(json.info);
                    }
                });
            });

            //快捷改变操作排序dblclick
            $("tbody>tr>td[fd]").click(function(){
                var inval = $(this).html();
                var infd = $(this).attr("fd");
                var inid =  $(this).parents("tr").attr("id");
                if($(this).attr('edit')==0){
                    $(this).attr('edit','1').html("<input class='input' size='5' id='edit_"+infd+"_"+inid+"' value='"+inval+"' />").find("input").select();
                }
                $("#edit_"+infd+"_"+inid).focus().bind("blur",function(){
                    var editval = $(this).val();
                    $(this).parents("td").html(editval).attr('edit','0');
                    if(inval!=editval){
                        $.post("/Tprbac/index.php/conist/Access/opSort",{id:inid,fd:infd,sort:editval});
                    }
                })
            });

            var chn=function(cid,op){
                if(op=="show"){
                    $("tr[pid='"+cid+"']").each(function(){
                        $(this).removeAttr("status").show();
                        chn($(this).attr("id"),"show");
                    });
                }else{
                    $("tr[pid='"+cid+"']").each(function(){
                        $(this).attr("status",1).hide();
                        chn($(this).attr("id"),"hide");
                    });
                }
            }
            $(".tree").click(function(){
                if($(this).attr("status")!=1){
                    chn($(this).parent().attr("id"),"hide");
                    $(this).attr("status",1);
                }else{
                    chn($(this).parent().attr("id"),"show");
                    $(this).removeAttr("status");
                }
            });
        });
    </script>
    </body>
</html>
