<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>权限管理-后台管理-ck RBAC权限管理</title>
        <!--公共头文件-->
        <include file="Public:head" />
    </head>
    <body>
        <div class="wrap">
            <!--顶部导航菜单-->
	        <div id="Top">
                <include file="Public:wrap_top" />
	        </div>
            <!--Tags标签-->
            <div id="Tags">
				<include file="Public:wrap_tags" />
                    <div class="nav">
                        <font id="today"></font>您的位置：权限管理 > 添加管理员
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="mainBody">
                <!--子菜单列表-->
	            <div id="Left">
                    <include file="Public:main_left" />
	            </div>
                <!--content内容主体-->
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">文章管理列表</div>
                    </div>
					<form action="__SELF__" method="post">
						标题：
						<input type="text" name="title" value="{$title}" size="30" style="margin-right: 20px;">
						分类：
						<select name="cid" style="margin-right: 20px;">
							<?php if ($Article_category): ?>
                                <option value="-1">--请选择--</option>
                                <?php foreach ($Article_category as $key => $value): ?>
                                    <option value="{$value.cid}" <?php if (isset($cid) && $cid ==$value['cid']): ?>selected<?php endif ?>>{$value.category_name}</option>
                                <?php endforeach ?>
                            <?php else: ?>
                                <option value="-1">---请先添加文章分类---</option>
                            <?php endif ?>
						</select>
						状态：
						<select name="status" style="margin-right: 20px;">
							<option value="-1" >--请选择--</option>
							<option value="1" <?php if (isset($status) && $status ==1): ?>selected<?php endif ?>>已发布</option>
							<option value="0" <?php if (isset($status) && $status ==0): ?>selected<?php endif ?>>未发布</option>
						</select>
						热门：
						<select name="is_hot" style="margin-right: 20px;">
							<option value="-1">--请选择--</option>
							<option value="1" <?php if (isset($is_hot) && $is_hot ==1): ?>selected<?php endif ?>>热门</option>
							<option value="0" <?php if (isset($is_hot) && $is_hot ==0): ?>selected<?php endif ?>>不热门</option>
						</select>
						置顶：
						<select name="is_top" style="margin-right: 20px;">
							<option value="-1">--请选择--</option>
							<option value="1" <?php if (isset($is_top) && $is_top ==1): ?>selected<?php endif ?>>置顶</option>
							<option value="0" <?php if (isset($is_top) && $is_top ==0): ?>selected<?php endif ?>>不置顶</option>
						</select>
						<input type="submit" value="搜索">
					</form>
					<div class="row">
						<div class="col-sm-6" style="margin:0 0 8px 0;float:left;">
							<label>
								每页显示
								<select  name="dataTables_length" onchange="changePagesNum(this)">
									<option value="2" <?php if ($pagenum == "2"): ?>selected<?php endif ?>>2</option>
									<option value="3" <?php if ($pagenum == "3"): ?>selected<?php endif ?>>3</option>
									<option value="4" <?php if ($pagenum == "4"): ?>selected<?php endif ?>>4</option>
								</select>
								条记录
							</label>
							<label>
								<input type="text" id="pagenum" placeholder="快捷输入页面显示个数" onkeyup="synchronization(this)"><span id="page_num"></span>
							</label>
						</div>
						<div class="col-sm-6" style="margin:0 0 8px 0;float:left;">
							<div class="btn-group pull-right">
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle" onclick="javascript:$('#checkMenu').toggle();" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										请选择显示内容
										<span class="caret"></span>
									</button>
									<ul id="checkMenu" class="dropdown-menu" >
										<li style="vertical-align:middle;"><label ><input id="" type="checkbox" onchange="changeCheckMenu(this)" name="status">&nbsp;&nbsp;&nbsp;&nbsp;状态</label></li>
										<li style="vertical-align:middle;"><label ><input id="" type="checkbox" onchange="changeCheckMenu(this)" name="is_hot">&nbsp;&nbsp;&nbsp;&nbsp;热门</label></li>
										<li style="vertical-align:middle;"><label ><input id="" type="checkbox" onchange="changeCheckMenu(this)" name="is_top">&nbsp;&nbsp;&nbsp;&nbsp;置顶</label></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<br/>
					<a href="{:U('Admin/Article/down_excel')}">
						<button type="submit" class="btn btn-default record">导出全部记录</button>
					</a>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                        <thead>
                            <tr>
                                <td >产品标题</td>
                                <td>所在分类</td>
                                <td>更新时间</td>
                                <td class="status" style="display:none;">状态</td>
                                <td class="is_hot" style="display:none;">is_hot</td>
								<td class="is_top" style="display:none;">is_top</td>
                                <td width="150">操作</td>
                            </tr>
                        </thead>
                        <?php if (!empty($article)): ?>
	                        <?php foreach ($article as $k => $v): ?>
	                            <tr align="center" id="34">
	                                <td align="left" style="text-align:center;">
	                                    <a href="__CONTROLLER__/editArticle?id={$v.id}">{$v.title}</a>
	                                </td>
	                                <td>{$v.category_name}</td>
	                                <td>{$v.update_time}</td>
	                                <td class="status" style="display:none;">
	                                    <a href="javascript:void(0);" onclick="changeStatus(34,this)">
										<if condition="$v['status']==1">已发布
											<else /> 未发布
										</if>
										</a>
	                                </td>
	                                <td class="is_hot" style="display:none;">
	                                    <if condition="$v['is_hot']==1">热门
											<else /> 不热门
										</if>
	                                </td>
									<td class="is_top" style="display:none;">
	                                    <if condition="$v['is_top']==1">置顶
											<else /> 不置顶
										</if>
	                                </td>
	                                <td>
	                                    [ <a href="__CONTROLLER__/editArticle?id={$v.id}" class="edit">编辑 </a> ]
	                                    [ <a href="javascript:void(0)" class="del" data="{$v.id}">删除 </a> ]
	                                </td>
	                            </tr>
	                        <?php endforeach ?>
                        <?php else: ?>
                            <tr align="center">
                                <td colspan="7">暂无数据</td>
                            </tr>
                        <?php endif ?>
                    </table>
                    <!--分页内容显示-->

                    <load href="__PUBLIC__/static/bootstrap/css/bootstrap.css"/>
					<load href="__Admin_CSS__/page_index.css"/>
					<div class="pagination" style="width:100%">{$page}</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!--尾部js css-->
	    <include file="Public:footer" />
        <script type="text/javascript">
            $(function(){
                //删除文章
                $(".del").click(function(){
					var id = $(this).attr("data");
                    $.ajax({
						url: "<?php echo U('Admin/Article/delArticle'); ?>",
                        data:{"id":id},
						type: "post",
						dataType: "json",
						success: function (res) {
							if(res.status == 'success' ){
								location.href="__SELF__";
							}else{
								alert("删除失败!");
                                window.location.href="__SELF__";
							}
						}
					});
				});
				
				//快捷输入页面显示个数
				$("#pagenum").keydown(function(e){
					if(e.keyCode==13){
						var search = $(this).val();
						var url =  "<?php echo U("Admin/Article/index"); ?>";
						//var url =  location.href.replace(/&pagenum[\S]*|&p[\S]*|&search[\S]*/,'');
						location.href = url + "?pagenum="+search;
					}
				});
				
            });
						
        </script>
		<script>
			//每页显示多少条数据
			function changePagesNum(_this){
				var pagenum = $(_this).val();
				var url =  "<?php echo U("Admin/Article/index"); ?>";

				window.location.href = url+"?pagenum="+pagenum;

			}
			
			//同步显示输入显示的个数
			function synchronization(_this){
				var pwd = $(_this).val();
				$('#page_num').html("快捷输入页面显示个数:"+pwd);
			}
			
			//是否显示内容
			function changeCheckMenu(_this){
				$('#checkMenu').show();
				var checkedStatus = $(_this).prop('checked');
				var checkedName   = _this.name;
				if( checkedStatus ){
					$('.'+checkedName).show();
				}else{
					$('.'+checkedName).hide();
				}
			}
			
			$(document).click(function(e){
				$(document).find('[autohide=yes]').each(function(){
					if(e.target != this && !$.contains(this, e.target) && e.target!=$(this).prev().get(0)){
						$(this).hide();	
					};
				});
			});
		</script>
    </body>

</html>
