<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自定义函数库</title>
</head>
<body>

    <pre>
    1、<span style="color:red">js前端判断(两位小数)</span>

    var num = $("#txt_num").val();
    var dot = num.indexOf(".");
    var dotCnt = num.substring(dot+1,num.length);
    if(!isNaN(num)){
        if(dot != -1){
            if(dotCnt.length > 2){
                alert("小数位已超过2位！");
            }else{
                alert('正确');
            }
        }
    }else{
        alert("数字不合法！");
    }


    2、<span style="color:red">限制用户输入只能输入数字或者两位小数</span>
    /**限制用户输入只能输入数字或者两位小数**/
	$(function(){
		 /*JQuery 限制文本框只能输入数字*/  
		$(".NumText").keyup(function(){
		    $(this).val($(this).val().replace(/D|^0/g,''));
		}).bind("paste",function(){  //CTR+V事件处理
		    $(this).val($(this).val().replace(/D|^0/g,''));
		}).css("ime-mode", "disabled"); //CSS设置输入法不可用

		/*JQuery 限制文本框只能输入数字和小数点*/
		$(".NumDecText").keyup(function(){
		    $(this).val($(this).val().replace(/[^0-9.]/g,''));
		}).bind("paste",function(){  //CTR+V事件处理
		    $(this).val($(this).val().replace(/[^0-9.]/g,''));
		}).css("ime-mode", "disabled"); //CSS设置输入法不可用
	});
    </pre>
</body>
</html>
